<section class="section-personal" id="inicio">
  <div class="container-banner">
    <img
      class="the-banner"
      src="../../../assets/Captura desde 2023-03-27 21-44-29.png"
      class="img-fluid"
      alt="..."
    />
  </div>

  <div class="container-img-perfil">
    <img
      class="img-perfil rounded-4"
      src="https://avatars.githubusercontent.com/u/46876355?v=4"
      title="Foto perfil"
    />
  </div>

  <div class="tituloPrincipal">
    <div class="datos">
      <h1>Jonatan Matwijow</h1>
      <h4>Full Stack Developer Junior</h4>
    </div>
    <!-- boton de agregar -->
    <div class="botons-edit">
      <i class="fa-solid fa-pencil" type="button"></i>
    </div>
  </div>

  <div class="botonesTitulo">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#sobreMi"
            >Sobre mi</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#educacion">Educacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyecto">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#descargaCV"
            >Descargar CV</a
          >
        </li>
      </ul>
    </div>

    <!-- Modal Descarga CV-->
    <div class="modal" id="descargaCV" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Descarga CV</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Si esta de acuerdo puede descargar el CV en formato PDF</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="button" class="btn btn-primary">Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
