  <!-- Seccion Datos Personales -->
  <section class="section-personal" id="inicio">
    <div class="container-banner">
      <img
        class="the-banner"
        src="../../../assets/banner.png"
        alt="..."
      />
    </div>

    <div class="container-img-perfil">
      <img
        class="img-perfil img-fluid"
        src="https://avatars.githubusercontent.com/u/46876355?v=4"
        title="Foto perfil"
      />
    </div>

    <div class="tituloPrincipal">
      <div class="datos">
        <h1>Jonatan Matwijow</h1>
        <h4>Full Stack Developer Junior</h4>
      </div>
    </div>

    <div class="botonesTitulo">
      <div class="botones">
        <a href="#sobreMi" type="button" class="btn btn-outline-secondary"
          >Quien soy?</a
        >
        <a
          href="#experiencia"
          type="button"
          class="btn btn-outline-secondary"
          >Experiencia</a
        >
        <a href="#educacion" type="button" class="btn btn-outline-secondary"
          >Educacion</a
        >
        <a
          href="#habilidades"
          type="button"
          class="btn btn-outline-secondary"
          >Habilidades</a
        >
        <a href="#proyectos" type="button" class="btn btn-outline-secondary"
          >Proyectos</a
        >
        <a href="#contacto" type="button" class="btn btn-outline-secondary"
          >Contacto</a
        >

        <!-- Boton modal descarga-->
        <button
          type="button"
          class="btn btn-outline-info"
          data-bs-toggle="modal"
          data-bs-target="#descargaCV"
        >
          Descargar CV
        </button>

        <!-- Modal Descarga CV-->
        <div class="modal" id="descargaCV" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Descarga CV</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>
                  Si esta de acuerdo puede descargar el CV en formato PDF
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button type="button" class="btn btn-primary">
                  Descargar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

