<!-- Seccion Proyectos -->
<section class="dif-sections">
  <div class="container-titulo-iconos">
    <div class="title-section" id="proyectos">
      <h2><u> Proyectos </u></h2>
    </div>
    <!-- botones de agregar y eliminar -->
    <div class="botons-edit-trash">
      <i class="fa-solid fa-pencil" type="button"></i>
      <i class="fa-regular fa-trash-can" type="button"></i>
    </div>
  </div>

  <div class="col-md-12 container-card2">
    <div class="card2 efecto_card">
      <img
        src="https://static.platzi.com/media/user_upload/mokepon-0bc19bb0-4649-4ac3-a268-6f9adb0a8f7b.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body cardbody">
        <h5 class="card-title cardtitle">Mokepon</h5>
        <p class="card-text cardtxt">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>

      <div class="card-footer">
        <a
          href="#"
          class="btn btn-primary"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >Ver demostracion</a
        >

        <a
          href="#"
          class="btn btn-secondary"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >GitHub</a
        >
      </div>
    </div>

    <div class="card2 efecto_card">
      <img src="../../../assets/imgProyect.png" class="card-img-top" alt="..." />
      <div class="card-body cardbody">
        <h5 class="card-title cardtitle">Portfolio personal</h5>
        <p class="card-text cardtxt">
          Con este proyecto aprobe el curso de #SeProgramar.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://jonatanmatwijow.github.io/portfolio-FrontEnd/"
          class="btn btn-primary"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >Ver demostracion</a
        >

        <a
          href="https://github.com/JonatanMatwijow/portfolio-FrontEnd"
          class="btn btn-secondary"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >GitHub</a
        >
      </div>
    </div>

    <div class="card2 efecto_card">
      <img
        src="../../../assets/imgProyectoAgua.png"
        class="card-img-top"
        alt="Imagen de reciclado"
      />
      <div class="card-body cardbody">
        <h5 class="card-title cardtitle">Card title</h5>
        <p class="card-text cardtxt">
          Proyecto creado con el fin de presentar en el curso de HSA, de
          potreros Digital, tambien me sirvio para presentar como trabajo final
          en el curso de programacion web.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://jonatanmatwijow.github.io/El-agua-es-Vida/"
          target="_blank"
          class="btn btn-primary"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >Ver demostracion</a
        >
        <a
          href="https://github.com/JonatanMatwijow/El-agua-es-Vida"
          target="_blank"
          class="btn btn-secondary"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >GitHub</a
        >
      </div>
    </div>
  </div>
</section>
