* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim";
}

body {
  background-color: #f7f8ed;
}

/* Estas lineas son de las divisiones entre secciones */
.divisiones {
  display: flex;
  justify-content: center;
}

.divisiones-entre-secciones {
  width: 40%;
  border: 1px solid #4e7dbc;
}

/*Esta linea de modifica el tamaño del area del modal para que se aprecie completo el certificado*/
.modal {
  --bs-modal-width: 1024px !important;
}

/* estas lineas son de la interaccion con los movimientos del html */
main .title-section {
  scroll-margin-top: 15ex;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: auto;
}

header a {
  color: #f7f8ed;
  text-decoration: none;
}

header .navbar {
  width: 100%;
  height: 70px;
  background: rgb(50, 50, 50);
  background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  );
  position: fixed;
  top: 0;
  z-index: 100;
}

header .navbar-links {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

header .navbar-links .container-logo-navbar {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 50px;
  align-items: center;
  color: #f7f8ed;
  padding-left: 10px;
}

header .navbar-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 50px;
  gap: 50px;
  list-style: none;
  padding-right: 30px;
  margin-bottom: 0px;
}

.fa-2xl {
  font-size: 1.5rem !important;
  line-height: 0.03125em;
  vertical-align: 0.1875em;
}

header .navbar-links ul .nav-bottom-login {
  color: #f7f8ed;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

/* Estas lineas hacen que los iconos cambien de color al pasar el mouse */
.fa-brands.fa-github.fa-2xl:hover {
  color: #4e7dbc;
}

.fa-brands.fa-twitter.fa-2xl:hover {
  color: #4e7dbc;
}

.fa-brands.fa-linkedin-in.fa-2xl:hover {
  color: #4e7dbc;
}

.fa-solid.fa-envelope.fa-2xl:hover {
  color: #4e7dbc;
}

.fa-solid.fa-right-to-bracket.fa-2xl.nav-bottom-login:hover {
  color: #4e7dbc;
}

main p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

main h2 {
  font-size: 2.25rem;
  line-height: 1.75rem;
}

main ul {
  list-style: none !important;
}

main .the-banner {
  width: 100%;
  height: 50vh;
}

main .container-img-perfil {
  position: absolute;
  left: 100px;
  transform: translate(-30%, -60%);
}

main .img-perfil {
  width: 150px;
  height: 150px;
}

main .botons-edit {
  margin-left: 20px;
}

main .tituloPrincipal {
  padding-top: 20px;
  padding-left: 250px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
}

main .botonesTitulo {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding-right: 15px;
}

main .txt_sobre_mi {
  width: 70%;
  margin: auto;
  text-align: center;
}

main .logo-cap {
  position: absolute;
  right: 25px;
  top: 500px;
}

main .logo-cap a img {
  width: 130px;
}

main .items_cards {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* Estilos de los logos de las empresas, dentro de las cajitas */
main .col-card {
  width: 200px;
}

main .col-md-8 {
  text-align: justify;
}

main .row {
  justify-content: space-evenly;
}

/* cambios para que las imagenes de las cards se vean mas justos al texto */
#img-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-right: 13px;
}

/* esta linea modifica las cards, se elimina el borderbox */
#border-card {
  border: none;
}

/* esta linea quita el color de fondo de las cards */
.card {
  --bs-card-bg: var(--bs-body-bg) none !important;
}

/*Estas lineas son de las cards de proyectos*/
.container-card2 {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card2 {
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.efecto_card {
  border-radius: 6px;
  overflow: hidden;
  background:
        /*#ffff*/ #f7f8ed;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.efecto_card:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5%);
}

.card2 img {
  height: 150px;
}

.cardbody {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
}

.cardtitle {
  margin-top: 20px;
  text-align: center;
}

.cardtxt {
  margin-top: 20px;
  text-align: justify;
}

.card-footer {
  margin: auto;
  padding-bottom: 20px;
}

.estilos_ {
  max-width: 80%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---------------------------------------------------
estas lineas son de los estilos para el titulo e iconos 
de las diferentes secciones, estan todos juntos.  */
.dif-sections {
  padding: 10px;
  padding-bottom: 3rem;
}

.container-titulo-iconos {
  display: flex;
  width: 100%;
}

.title-section {
  width: 50%;
  margin: 20px 15px 30px 15px;
  padding-left: 100px;
}

.botons-edit-trash {
  display: flex;
  justify-content: flex-end;
  height: 25px;
  gap: 30px;
  align-items: center;
  width: 50%;
  margin: 20px 60px 30px 15px;
}

/* ----------------------------------------------*/

/* ---------------------------------------------------
estas lineas son los estilos de las barras de progreso.  */

.progress {
  display: flex;
  height: 1.5rem;
  font-size: 1rem;
  overflow: hidden;
  background: #e9ecef;
  border-radius: 1.25rem;
  box-shadow: opx 1px 10px rgba(0, 0, 0, 0.2);
}

.progress:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5%);
}

.sub-title-and-icon-progres-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sub-title-and-icon-progres-bar p {
  padding-left: 15px;
  display: flex;
  align-items: flex-end;
  height: 32px;
  font-size: 1.25rem;
}

.col-gap {
  gap: 50px;
}

.barras-progre-gap {
  margin-bottom: 20px;
}

/* lineas de seccion de contacto */

main .form__ {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .form__ .box-form-left {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-left: 6%;
  text-align: justify;
  padding-top: 2rem;
  gap: 3rem;
}

main .form__ .box-form-left ul {
  display: flex;
  justify-content: space-around;
}

main .form__ .box-form-right {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-left: 5rem;
}

main .form__ .box-form-right form {
  border: double;
  max-width: 680px;
  padding: 1.3rem;
  border-radius: 20px;
}

main .form__ .box-form-right form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .form__ .box-form-right form div input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 1.2rem;
  outline: none;
}

main .form__ .box-form-right form div textarea {
  height: 150px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

/* ---------------------------------------------------
estas lineas son los estilos del footer.  */
footer {
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 50, 50, 1) 90%
  );
}

footer hr {
  border: 2px solid #95f408;
}

footer .box-footer {
  display: flex;
  justify-content: center;
}

.textCenter {
  color: antiquewhite;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  height: auto;
}

/* ----------------------------------------------*/
/* Estas lineas serian del boton para volver al inicio, reveer si va a estar o no. */
/* .fa-regular.fa-square-caret-up:hover {
    color: #95f00c;
} */

/* .btn-volver{
    display: flex;
    align-items: center;
    font-size: 4rem;
    position: fixed;
    bottom: 80px;
    right: 55px;
    justify-content: center;
    cursor: pointer;
    transform: scale(0);
    transition: all 400ms ease;
} */

/* ----------------------------------------------
A partir de aca van las medias querys
----------------------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  header .navbar {
    height: 55px;
  }

  header .navbar-links {
    display: flex;
    align-items: flex-start;
  }

  header .navbar-links ul {
    width: 50%;
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
  }

  header .navbar-links .container-logo-navbar {
    padding-left: 0px;
  }

  main .the-banner {
    max-width: auto;
  }

  main .img-perfil {
    width: 100px;
    height: 100px;
  }

  main .container-img-perfil {
    position: absolute;
    left: 40px;
    transform: translate(-30%, -60%);
  }

  main .tituloPrincipal {
    padding-top: 50px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
  }

  .fa-2xl {
    font-size: 1rem !important;
  }

  .logo-navbar {
    width: 200px;
  }

  main h2 {
    font-size: 1.75rem;
  }

  .title-section {
    padding-left: 0px;
  }

  .botons-edit-trash {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    gap: 20px;
    align-items: center;
    width: 50%;
    margin: 20px 30px 30px 15px;
  }

  main .txt_sobre_mi {
    width: 80%;
  }

  main p {
    font-size: 1rem;
  }

  .estilos_ {
    max-width: 70%;
  }

  .img-thumbnail {
    width: 130px;
  }

  main .form__ {
    display: flex;
    /* justify-content: center;
        width: 100%; */
    flex-direction: column;
  }

  main .form__ .box-form-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: justify;
    padding-top: 2rem;
    gap: 0rem;
  }

  main .form__ .box-form-left ul {
    display: flex;
    padding-right: 32px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main .form__ .box-form-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
  }

  main .form__ .box-form-right form div input {
    font-size: 1rem;
  }

  main .form__ .box-form-right form div textarea {
    font-size: 1rem;
  }

  .textCenter {
    color: antiquewhite;
    font-size: 0.75rem;
  }
}
