
<header>
  <nav class="navbar">
      <div class="navbar-links">
          <div class="container-logo-navbar">
              <a href="https://desa.argentinaprograma.inti.gob.ar/" target="_blank">
                  <img class="logo-navbar"
                      src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png"
                      title="Logo de Argentina Programa">
              </a>
          </div>


          <ul>
              <li>
                  <a href="https://github.com/JonatanMatwijow" target="_blank">
                      <i class="fa-brands fa-github fa-2xl"></i>
                  </a>
              </li>
              <li>
                  <a href="" target="_blank">
                      <i class="fa-brands fa-twitter fa-2xl"></i>
                  </a>
              </li>
              <li>
                  <a href="" target="_blank">
                      <i class="fa-brands fa-linkedin-in fa-2xl"></i>
                  </a>
              </li>

              <li>
                  <a href="" target="_blank">
                      <i class="fa-solid fa-envelope fa-2xl"></i>
                  </a>
              </li>

              <li>

                  <i class="fa-solid fa-right-to-bracket fa-lg nav-bottom-login" type="button">
                      <a href="../login.html">Login </a>
                  </i>
              </li>
          </ul>
      </div>
  </nav>
  <!-- <a href="mailto:jonatanmatwijow@gmail.com">JonatanMatwijow@gmail.com</a> -->
</header>
<main>
  <section class="section-personal" id="inicio">
      <div class="container-banner">
          <img class="the-banner" src="../assets/banner.png"  alt="...">
      </div>

      <div class="container-img-perfil">
          <img class="img-perfil img-fluid" src="https://avatars.githubusercontent.com/u/46876355?v=4"
              title="Foto perfil">
      </div>


      <div class="tituloPrincipal">
          <div class="datos">
              <h1>Jonatan Matwijow</h1>
              <h4>Full Stack Developer Junior </h4>
          </div>
      </div>

      <div class="botonesTitulo">
          <div class="botones">
              <a href="#sobreMi" type="button" class="btn btn-outline-secondary">Quien soy?</a>
              <a href="#experiencia" type="button" class="btn btn-outline-secondary">Experiencia</a>
              <a href="#educacion" type="button" class="btn btn-outline-secondary">Educacion</a>
              <a href="#habilidades" type="button" class="btn btn-outline-secondary">Habilidades</a>
              <a href="#proyectos" type="button" class="btn btn-outline-secondary">Proyectos</a>
              <a href="#contacto" type="button" class="btn btn-outline-secondary">Contacto</a>

              <!-- Boton modal descarga-->
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                  data-bs-target="#descargaCV">Descargar CV</button>

              <!-- Modal Descarga CV-->
              <div class="modal" id="descargaCV" tabindex="-1">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">Descarga CV</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <p>Si esta de acuerdo puede descargar el CV en formato PDF</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary"
                                  data-bs-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn btn-primary">Descargar</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- Seccion Acerca de mi -->
  <section class="dif-sections">
      <div class="container-titulo-iconos">
          <div class="title-section" id="sobreMi">
              <h2><u>Sobre mi</u></h2>
          </div>
      </div>

      <div class="txt_sobre_mi">
          <p>
              Dispongo de buenas aptitudes multitarea, con capacidad de gestionar simultáneamente varios proyectos
              y objetivos. Brindar soluciones, y tener buena comunicación. Puedo ofrecer responsabilidad,
              dedicación y eficacia, con el objetivo de poder alcanzar objetivos y metas. Soy una persona con
              buenas habilidades en general, buen trato interpersonal, ideal para clientes, consumidores,
              vendedores y proveedores. Me gustan los nuevos desafíos, trabajar en equipo con un solo objetivo en
              común y pensar globalmente. En búsqueda constante de la excelencia y el progreso continuo. Por tal
              motivo, busco capacitarme constantemente en diferentes áreas.
          </p>
      </div>
  </section>


  <!-- Seccion Expencia -->
  <section class="dif-sections">
      <div class="container-titulo-iconos">
          <div class="title-section" id="experiencia">
              <h2><u>Experiencia</u></h2>
          </div>
      </div>
      <ul>
          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/8-bit.jpeg" class="img-fluid rounded-start logo-empresa"
                              alt="logo de la empresa nombrada">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title">ANALISTA DE INVESTIGACION (FREELANCE) - 8-BIT & SHERBLOQ</h5>
                              <p class="card-text">Empresa dedicada al asesoramiento de proyectos basados en la
                                  tecnología Blockchain. Realizaba análisis de proyectos, investigando si los
                                  mismos eran sustentables, en qué etapa estaba el proyecto, sus actuales o
                                  futuros rivales. Y, entre otras observaciones, de las cuales podrian colaborar
                                  para la confeccion de un informe sobre el mismo. Tambien realizaba análisis de
                                  mercados, tanto técnico como fundamental. En ambas empresas realizaba las mismas
                                  tareas, ya que Sherbloq nació de una fusión entre empleados de 8-Bit.</p>
                              <p class="card-text">
                                <small class="text-muted">JUNIO DE 2018 – DICIEMBRE DE 2019.</small>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/sai-logo.jpeg" alt="logo de la empresa nombrada">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title">AYUDANTE Y BANDERILLERO DE TRANSPORTE - SAN ANTONIO
                                  INTERNACIONAL S.A.</h5>
                              <p class="card-text">Traslados de equipos de locación a locación. Aprendí a trabajar
                                  con cuidado y atención, para trabajar de forma segura y eficiente y habiéndome
                                  desempeñado con cero incidentes y/o accidente. Como resultado, aprendí a manejar
                                  camiones e hidro grúas, por 1 ½ año estuve desempeñando la tarea de chofer hidro
                                  gruista.</p>
                              <p class="card-text">
                                <small class="text-muted">MAYO DE 2013 - NOVIEMBRE DE 2017</small>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </section>

  <!-- Seccion Educacion -->
  <section class="dif-sections">
      <div class="container-titulo-iconos">
          <div class="title-section" id="educacion">
              <h2><u>Educacion</u></h2>
          </div>
      </div>

      <div class="card mb-3" style="max-width: 65%;" id="border-card">
          <div class="row g-0">
              <div class="col-md-4" id="img-card">
                  <img src="../assets/logo-imna.png" class="rounded float-start logo-empresa img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">INSTITUTO MODELO NUEVA ARGENTINA – BUENOS AIRES, ARGENTINA.</h5>
                      <p class="card-text">BACHILLER EN ECONOMÍA Y ADMINISTRACIÓN DE LAS ORGANIZACIONES.</p>
                      < class="card-text">
                          <small class="text-muted">Finalizado - Diciembre/2005</small>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">Certificado</button>
                          <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1">
                          <div class="modal-dialog">
                              <div class="modal-body">
                                  <img src="../assets/8-bit.jpeg" alt="...">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Seccion Capacitaciones -->
  <section class="dif-sections">
      <div class="container-titulo-iconos">
          <div class="title-section" id="capacitaciones">
              <h2><u>Capacitaciones</u></h2>
          </div>
      </div>

      <ul>
          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/8-bit.jpeg" class="img-fluid rounded-start logo-empresa"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title">FUNDAMENTOS DE LA LÓGICA DE LA PROGRAMACIÓN - EEG CORPORATION
                              </h5>
                              <p class="card-text">La capacitación se basa en aprender a desarrollar el
                                  pensamiento lógicoalgorítmico detrás de las aplicaciones. Aprender a programar
                                  en lenguaje nativo, en pseudocódigo y a comprender los fundamentos de la lógica.
                                  Consto con una duración de 81Hs cátedras, teórico y práctico, siendo 100%
                                  Online.</p>
                              < class="card-text">
                                  <small class="text-muted">APROBADO – AGOSTO/2022.</small>

                                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                      data-bs-target="#descargaCV2">Certificado</button>

                              <div class="modal" id="descargaCV2" tabindex="-1">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title">Certificado</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                  aria-label="Close"></button>
                                          </div>

                                          <div class="modal-body">
                                              <img src="../assets/cert1.png" alt="...">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </li>

          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/cool-background.png" class="img-fluid rounded-start logo-empresa"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title"> CURSO DE PROGRAMACION BASICO (HTML5 Y JAVASCRIPT) PLATZI.COM
                              </h5>
                              <p class="card-text"> Curso básico de introducción a la programación, con ejercicios
                                  aplicables a un
                                  ambiente laboral. Cursado 100% Online. Cursado en 34hs teoría y prácticas</p>
                              <p class="card-text"><small class="text-muted">APROBADO – Julio/2022</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/cool-background.png" class="img-fluid rounded-start logo-empresa"
                          class="img-fluid rounded-start logo-empresa"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title"> DESARROLLO WEB (HTML5 Y CSS)- POTRERO DIGITAL</h5>
                              <p class="card-text"> Durante el desarrollo de la cursada también se dictaron
                                  asignaturas como Ingles y Habilidades Blandas. Cursado 100% Online, Finalizado
                                  en un total de duración de 16 semanas.</p>
                              <p class="card-text"><small class="text-muted">APROBADO – Diciembre/2020</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/cool-background.png" class="img-fluid rounded-start logo-empresa"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5>CAPACITACIÓN EN IDIOMA INGLES - CULTURAL INGLESA</h5>
                              <p class="card-text"> NIVEL CURSADO “B1”</p>
                              <p class="card-text"><small class="text-muted">APROBADO – Diciembre/2018</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/cool-background.png" class="img-fluid rounded-start logo-empresa"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5>SISTEMA SAP - XIGMA (CONSULTORÍA OFICIAL SAP)</h5>
                              <p class="card-text"> Capacitación en sistema SAP a nivel usuario con una duración
                                  de 32hs catedra.
                                  Practico – Teórico. Cursado 100% Online </p>
                              <p class="card-text"><small class="text-muted">APROBADO – Diciembre/2018</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>

          <li>
              <div class="card mb-3" style="max-width: 65%;" id="border-card">
                  <div class="row g-0">
                      <div class="col-md-4" id="img-card">
                          <img src="../assets/cool-background.png" class="img-fluid rounded-start logo-empresa"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5>LIQUIDACIÓN DE SUELDOS Y JORNALES - UBA – BUENOS AIRES, ARGENTINA</h5>
                              <p class="card-text"> Cursado presencial con una duración de 32HS Cátedras.</p>
                              <p class="card-text"><small class="text-muted">APROBADO – Diciembre/2011</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </section>

  <!-- Analizar si va a ir o debo elimar la seccion completa -->
  <!-- Seccion Certificados
  <section class="dif-sections">
      <div class="container-titulo-iconos">
          <div class="title-section">
              <h2><u>Certificados </u></h2>
          </div>
      </div>
      cards de certificados
      <div class="row row-cols-md-3 g-4">
          <div class="col">
              <div class="card">
                  <img src="./Img/cert1.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">YoProgramo</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                          to additional content. This content is a little bit longer.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Certificado</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                          to additional content. This content is a little bit longer.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                          to additional content.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                          to additional content. This content is a little bit longer.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural
                          lead-in to additional content. This content is a little bit longer.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is a little bit
                          longer.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text
                          below as a natural lead-in to additional content. This content
                          is a little bit longer.</p>
                  </div>
              </div>
          </div>
      </div>
  </section> -->


  <!-- Seccion Proyectos -->
  <section class="dif-sections">
      <div class="container-titulo-iconos">
          <div class="title-section" id="proyectos">
              <h2><u> Proyectos </u></h2>
          </div>
      </div>

      <!-- Cards de proyectos-->
      <div class="row row-cols-md-3 g-4">
          <div class="col">
              <div class="card">
                  <img src="https://static.platzi.com/media/user_upload/mokepon-0bc19bb0-4649-4ac3-a268-6f9adb0a8f7b.jpg"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Mokepon</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                          to additional content. This content is a little bit longer.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100">
                  <img src="../assets/reee" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Portfolio personal</h5>
                      <p class="card-text">Con este proyecto aprobe el curso de SeProgramar. </p>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- Sector de barras de progreso ver tema de animacion  -->
  <section class="dif-sections">
      <!-- class="container-titulo-iconos" -->
      <div class="title-section" id="habilidades">
          <h2><u> Habilidades </u></h2>
      </div>
      <!-- En este sector lo dividi en 3 columnas y en cada una de ellas un sector de skills -->
      <div class="container text-center">
          <div class="row col-gap">

              <!-- Skills de Front end -->
              <div class="col">
                  <h3>Front End </h3>

                  <div class="barras-progre-gap">
                      <div class="sub-title-and-icon-progres-bar">
                          <img src="https://cdn-icons-png.flaticon.com/32/5968/5968267.png" />
                          <p> HTML </p>
                      </div>

                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                              style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%
                          </div>
                      </div>
                  </div>

                  <div class="barras-progre-gap">
                      <div class="sub-title-and-icon-progres-bar">
                          <img src="https://cdn-icons-png.flaticon.com/32/5968/5968242.png" />
                          <p> CSS </p>
                      </div>

                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                              style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Skills de back end -->
              <div class="col">
                  <h3>Back End</h3>
                  <div class="barras-progre-gap">
                      <div class="sub-title-and-icon-progres-bar">
                          <img src="https://cdn-icons-png.flaticon.com/32/919/919836.png">
                          <p> MySQL </p>
                      </div>

                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                              style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%
                          </div>
                      </div>
                  </div>

              </div>

              <!-- Otras Skills-->
              <div class="col">
                  <h3>Otros</h3>

                  <div class="barras-progre-gap">
                      <div class="sub-title-and-icon-progres-bar">
                          <img src="https://cdn-icons-png.flaticon.com/32/4494/4494748.png">
                          <p> Git & GitHub </p>
                      </div>

                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                              style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Seccion de contacto -->
  <section class="dif-sections">
      <!-- class="container-titulo-iconos" -->
      <div class="title-section" id="contacto">
          <h2><u> Contacto </u></h2>
      </div>

      <div class="form__">
          <div class="box-form-left">
              <p>
                  En el caso que necesite contactarme, ya sea para hacer alguna consulta o simplimente para dejar
                  tu comentario, porfavor sientace libre de hacerlo. En la brevedad sera respondido.
              </p>

              <ul>
                  <li>
                      <a href="https://github.com/JonatanMatwijow" target="_blank">
                          <i class="fa-brands fa-github fa-2xl"></i>
                      </a>
                  </li>
                  <li>
                      <a href="" target="_blank">
                          <i class="fa-brands fa-twitter fa-2xl"></i>
                      </a>
                  </li>
                  <li>
                      <a href="" target="_blank">
                          <i class="fa-brands fa-linkedin-in fa-2xl"></i>
                      </a>
                  </li>

                  <li>
                      <a href="" target="_blank">
                          <i class="fa-solid fa-envelope fa-2xl"></i>
                      </a>
                  </li>
              </ul>
          </div>


          <!-- En este div esta encerrado el form de contacto -->
          <div class="box-form-right">
              <form action="">
                  <div>
                      <input type="text" placeholder="Nombre">
                      <input type="text" placeholder="Apellido"> 
                      <input type="text" placeholder="Correo Electronico">
                      <input type="text" placeholder="Asunto">
                      <textarea name="mensaje" id="mensaje" placeholder="Mensaje"></textarea>
                  </div>

                  <input type="submit" value="Enviar mensaje" class="btn btn-outline-secondary">
              </form>
          </div>
      </div>

  </section>

<!-- Boton de ir hacia arriba -->
  <!-- <div id="btn_scroll" class="btn-volver">
     
     <a href="#inicio">
      <i class="fa-regular fa-square-caret-up"></i>
     </a>
  </div> -->
  
</main>

<!-- Footer, ver de agregarle info de contacto y demas.  -->
<footer>
  <hr>
  <div class="box-footer">
      <p class="textCenter"> &copy; Diseñado y creado por Jonatan Matwijow </p>
  </div>
</footer>