 <!-- Seccion Expencia -->
 <section class="dif-sections">
    <div class="container-titulo-iconos">
      <div class="title-section" id="experiencia">
        <h2><u>Experiencia</u></h2>
      </div>
    </div>
    <ul>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/8-bit.jpeg"
                class="img-fluid rounded-start logo-empresa"
                alt="logo de la empresa nombrada"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  ANALISTA DE INVESTIGACION (FREELANCE) - 8-BIT & SHERBLOQ
                </h5>
                <p class="card-text">
                  Empresa dedicada al asesoramiento de proyectos basados en
                  la tecnología Blockchain. Realizaba análisis de proyectos,
                  investigando si los mismos eran sustentables, en qué etapa
                  estaba el proyecto, sus actuales o futuros rivales. Y,
                  entre otras observaciones, de las cuales podrian colaborar
                  para la confeccion de un informe sobre el mismo. Tambien
                  realizaba análisis de mercados, tanto técnico como
                  fundamental. En ambas empresas realizaba las mismas
                  tareas, ya que Sherbloq nació de una fusión entre
                  empleados de 8-Bit.
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >JUNIO DE 2018 – DICIEMBRE DE 2019.</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/sai-logo.jpeg"
                alt="logo de la empresa nombrada"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  AYUDANTE Y BANDERILLERO DE TRANSPORTE - SAN ANTONIO
                  INTERNACIONAL S.A.
                </h5>
                <p class="card-text">
                  Traslados de equipos de locación a locación. Aprendí a
                  trabajar con cuidado y atención, para trabajar de forma
                  segura y eficiente y habiéndome desempeñado con cero
                  incidentes y/o accidente. Como resultado, aprendí a
                  manejar camiones e hidro grúas, por 1 ½ año estuve
                  desempeñando la tarea de chofer hidro gruista.
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >MAYO DE 2013 - NOVIEMBRE DE 2017</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
