   <!-- Seccion Educacion -->
   <section class="dif-sections">
    <div class="container-titulo-iconos">
        <div class="title-section" id="educacion">
            <h2><u>Educación</u></h2>
        </div>
        <!-- botones de agregar y eliminar -->
        <div class="botons-edit-trash">
            <i class="fa-solid fa-pencil" type="button"></i>
            <i class="fa-regular fa-trash-can" type="button"></i>
        </div>
    </div>

    <div class="items_cards">
        <div class="card mb-3 efecto_card estilos_" id="border-card">
            <div class="row g-0">
                <div class="col-card" id="img-card">
                    <img src="../../../assets/logo-imna.png" class="img-thumbnail" alt="logo instituto de estudios">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">INSTITUTO MODELO NUEVA ARGENTINA - BUENOS AIRES, ARGENTINA.</h5>
                        <p class="card-text">Bachiller en Economia y Administración de las Organizaciones.</p>

                        <div class="card-text">
                            <p><small class="text-muted">Finalizado - Diciembre/2005</small></p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Certificado</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-body">
                                        <img src="../../../assets/cert1.png" alt="certificado de acreditacion de estudio">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
