<body>
  <app-cabecera></app-cabecera>

  <main>
    <app-datos-personales></app-datos-personales>

    <app-sobre-mi></app-sobre-mi>

    <app-exp-laboral></app-exp-laboral>

    <app-educacion></app-educacion>

    <app-proyectos></app-proyectos>
    <!-- Analizar si va a ir o debo elimar la seccion completa -->
    <!-- Seccion Certificados
        <section class="dif-sections">
            <div class="container-titulo-iconos">
                <div class="title-section">
                    <h2><u>Certificados </u></h2>
                </div>
            </div>
            cards de certificados
            <div class="row row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">YoProgramo</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Certificado</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a
                                natural lead-in to additional content. This content is a little bit
                                longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./Img/cert2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text
                                below as a natural lead-in to additional content. This content
                                is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    <app-skills></app-skills>

    <app-contacto></app-contacto>

    <!-- Boton de ir hacia arriba -->
    <!-- <div id="btn_scroll" class="btn-volver">
           
           <a href="#inicio">
            <i class="fa-regular fa-square-caret-up"></i>
           </a>
        </div> -->
  </main>

  <app-footer></app-footer>
</body>
