<body>
  <main>
    <app-header></app-header>
    <app-login></app-login>
    <app-perfil></app-perfil>
    <app-sobre-mi></app-sobre-mi>

    <div class="divisiones">
      <div class="divisiones-entre-secciones"></div>
    </div>

    <app-experiencia></app-experiencia>

    <div class="divisiones">
      <div class="divisiones-entre-secciones"></div>
    </div>

    <app-educacion></app-educacion>

    <div class="divisiones">
      <div class="divisiones-entre-secciones"></div>
    </div>

    <app-capacitaciones></app-capacitaciones>

    <div class="divisiones">
      <div class="divisiones-entre-secciones"></div>
    </div>

    <app-proyectos></app-proyectos>

    <div class="divisiones">
      <div class="divisiones-entre-secciones"></div>
    </div>

    <app-habilidades></app-habilidades>

    <div class="divisiones">
      <div class="divisiones-entre-secciones"></div>
    </div>

    <app-contacto></app-contacto>

    <!-- Footer, ver de agregarle info de contacto y demas.  -->
    <footer>
      <hr />
      <div class="box-footer">
        <p class="textCenter">&copy; Diseñado y creado por Jonatan Matwijow</p>
      </div>
    </footer>
  </main>
</body>
