 <!-- Seccion Proyectos -->
 <section class="dif-sections">
    <div class="container-titulo-iconos">
      <div class="title-section" id="proyectos">
        <h2><u> Proyectos </u></h2>
      </div>
    </div>

    <!-- Cards de proyectos-->
    <div class="row row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img
            src="https://static.platzi.com/media/user_upload/mokepon-0bc19bb0-4649-4ac3-a268-6f9adb0a8f7b.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Mokepon</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/reee" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Portfolio personal</h5>
            <p class="card-text">
              Con este proyecto aprobe el curso de SeProgramar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>