 <!-- Sector Skills -  barras de progreso ver tema de animacion  -->
 <section class="dif-sections">
    <!-- class="container-titulo-iconos" -->
    <div class="title-section" id="habilidades">
      <h2><u> Habilidades </u></h2>
    </div>
    <!-- En este sector lo dividi en 3 columnas y en cada una de ellas un sector de skills -->
    <div class="container text-center">
      <div class="row col-gap">
        <!-- Skills de Front end -->
        <div class="col">
          <h3>Front End</h3>

          <div class="barras-progre-gap">
            <div class="sub-title-and-icon-progres-bar">
              <img
                src="https://cdn-icons-png.flaticon.com/32/5968/5968267.png"
              />
              <p>HTML</p>
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-label="Example with label"
                style="width: 60%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60%
              </div>
            </div>
          </div>

          <div class="barras-progre-gap">
            <div class="sub-title-and-icon-progres-bar">
              <img
                src="https://cdn-icons-png.flaticon.com/32/5968/5968242.png"
              />
              <p>CSS</p>
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-label="Example with label"
                style="width: 60%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60%
              </div>
            </div>
          </div>
        </div>

        <!-- Skills de back end -->
        <div class="col">
          <h3>Back End</h3>
          <div class="barras-progre-gap">
            <div class="sub-title-and-icon-progres-bar">
              <img
                src="https://cdn-icons-png.flaticon.com/32/919/919836.png"
              />
              <p>MySQL</p>
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-label="Example with label"
                style="width: 30%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                30%
              </div>
            </div>
          </div>
        </div>

        <!-- Otras Skills-->
        <div class="col">
          <h3>Otros</h3>

          <div class="barras-progre-gap">
            <div class="sub-title-and-icon-progres-bar">
              <img
                src="https://cdn-icons-png.flaticon.com/32/4494/4494748.png"
              />
              <p>Git & GitHub</p>
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-label="Example with label"
                style="width: 40%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                40%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

