<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Jonatan Matwijow</title>
  </head>

  <body>
    <main>
      <section class="contenedor_general">
        <div class="back_form">
          <div>
            <h3>Hola Admin, bienvenido!!</h3>
            <span
              >El inicio de sesión solo esta disponible para el administrador.
              <br />
              Si usted no lo es, vuelva atras.
            </span>
          </div>
        </div>

        <div class="font_form">
          <form>
            <h2>Iniciar Sesión</h2>
            <input type="text" placeholder="Usuario" />

            <input type="text" placeholder="Contraseña" />

            <div class="btn_center">
              <button
                class="button-login"
                type="button"
                onclick="alert('Aqui deberias poder logearte')"
                id="btn_inicarSesion"
              >
                Entrar
              </button>

              <a href="../../app.component.html">
                <button class="button-back" type="button">Volver</button>
              </a>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
