   <!-- Seccion de contacto -->
   <section class="dif-sections">
    <!-- class="container-titulo-iconos" -->
    <div class="title-section" id="contacto">
      <h2><u> Contacto </u></h2>
    </div>

    <div class="form__">
      <div class="box-form-left">
        <p>
          En el caso que necesite contactarme, ya sea para hacer alguna
          consulta o simplimente para dejar tu comentario, porfavor sientace
          libre de hacerlo. En la brevedad sera respondido.
        </p>

        <ul>
          <li>
            <a href="https://github.com/JonatanMatwijow" target="_blank">
              <i class="fa-brands fa-github fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <i class="fa-brands fa-twitter fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <i class="fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
          </li>

          <li>
            <a href="" target="_blank">
              <i class="fa-solid fa-envelope fa-2xl"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- En este div esta encerrado el form de contacto -->
      <div class="box-form-right">
        <form action="">
          <div>
            <input type="text" placeholder="Nombre" />
            <input type="text" placeholder="Apellido" />
            <input type="text" placeholder="Correo Electronico" />
            <input type="text" placeholder="Asunto" />
            <textarea
              name="mensaje"
              id="mensaje"
              placeholder="Mensaje"
            ></textarea>
          </div>

          <input
            type="submit"
            value="Enviar mensaje"
            class="btn btn-outline-secondary"
          />
        </form>
      </div>
    </div>
  </section>

