<!-- Seccion Acerca de mi -->
<section class="dif-sections">
  <div class="container-titulo-iconos">
    <div class="title-section" id="sobreMi">
      <h2><u>Sobre mi</u></h2>
    </div>

    <!-- botones de agregar y eliminar -->
    <div class="botons-edit-trash">
      <i class="fa-solid fa-pencil" type="button"></i>
      <i class="fa-regular fa-trash-can" type="button"></i>
    </div>
  </div>

  <div class="txt_sobre_mi">
    <p>
      Dispongo de buenas aptitudes multitarea, con capacidad de gestionar
      simultáneamente varios proyectos y objetivos. Brindar soluciones, y tener
      buena comunicación. Puedo ofrecer responsabilidad, dedicación y eficacia,
      con el objetivo de poder alcanzar objetivos y metas. Soy una persona con
      buenas habilidades en general, buen trato interpersonal, ideal para
      clientes, consumidores, vendedores y proveedores. Me gustan los nuevos
      desafíos, trabajar en equipo con un solo objetivo en común y pensar
      globalmente. En búsqueda constante de la excelencia y el progreso
      continuo. Por tal motivo, busco capacitarme constantemente en diferentes
      áreas.
    </p>
  </div>
</section>

<div class="divisiones">
  <div class="divisiones-entre-secciones"></div>
</div>
