 <!-- Seccion Educacion -->
 <section class="dif-sections">
    <div class="container-titulo-iconos">
      <div class="title-section" id="educacion">
        <h2><u>Educacion</u></h2>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 65%" id="border-card">
      <div class="row g-0">
        <div class="col-md-4" id="img-card">
          <img
            src="../../../assets/logo-imna.png"
            class="rounded float-start logo-empresa img-fluid"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              INSTITUTO MODELO NUEVA ARGENTINA – BUENOS AIRES, ARGENTINA.
            </h5>
            <p class="card-text">
              BACHILLER EN ECONOMÍA Y ADMINISTRACIÓN DE LAS ORGANIZACIONES.
            </p>
            <p class="card-text">
              <small class="text-muted">Finalizado - Diciembre/2005</small>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Certificado
              </button>
              <!-- Modal -->
            </p>

            <div class="modal fade" id="exampleModal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-body">
                  <img src="../../../assets/cert1.png" alt="..." />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Seccion Capacitaciones -->
  <section class="dif-sections">
    <div class="container-titulo-iconos">
      <div class="title-section" id="capacitaciones">
        <h2><u>Capacitaciones</u></h2>
      </div>
    </div>

    <ul>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/cool-background.png"
                class="img-fluid rounded-start logo-empresa"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  FUNDAMENTOS DE LA LÓGICA DE LA PROGRAMACIÓN - EEG
                  CORPORATION
                </h5>
                <p class="card-text">
                  La capacitación se basa en aprender a desarrollar el
                  pensamiento lógicoalgorítmico detrás de las aplicaciones.
                  Aprender a programar en lenguaje nativo, en pseudocódigo y
                  a comprender los fundamentos de la lógica. Consto con una
                  duración de 81Hs cátedras, teórico y práctico, siendo 100%
                  Online.
                </p>
                <p class="card-text">
                  <small class="text-muted">APROBADO – AGOSTO/2022.</small>

                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#descargaCV2"
                  >
                    Certificado
                  </button>
                </p>

                <div class="modal" id="descargaCV2" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Certificado</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>

                      <div class="modal-body">
                        <img src="../../../assets/cert1.png" alt="..." />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/cool-background.png"
                class="img-fluid rounded-start logo-empresa"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  CURSO DE PROGRAMACION BASICO (HTML5 Y JAVASCRIPT)
                  PLATZI.COM
                </h5>
                <p class="card-text">
                  Curso básico de introducción a la programación, con
                  ejercicios aplicables a un ambiente laboral. Cursado 100%
                  Online. Cursado en 34hs teoría y prácticas
                </p>
                <p class="card-text">
                  <small class="text-muted">APROBADO – Julio/2022</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/cool-background.png"
                class="img-fluid rounded-start logo-empresa"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  DESARROLLO WEB (HTML5 Y CSS)- POTRERO DIGITAL
                </h5>
                <p class="card-text">
                  Durante el desarrollo de la cursada también se dictaron
                  asignaturas como Ingles y Habilidades Blandas. Cursado
                  100% Online, Finalizado en un total de duración de 16
                  semanas.
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >APROBADO – Diciembre/2020</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/cool-background.png"
                class="img-fluid rounded-start logo-empresa"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5>CAPACITACIÓN EN IDIOMA INGLES - CULTURAL INGLESA</h5>
                <p class="card-text">NIVEL CURSADO “B1”</p>
                <p class="card-text">
                  <small class="text-muted"
                    >APROBADO – Diciembre/2018</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/cool-background.png"
                class="img-fluid rounded-start logo-empresa"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5>SISTEMA SAP - XIGMA (CONSULTORÍA OFICIAL SAP)</h5>
                <p class="card-text">
                  Capacitación en sistema SAP a nivel usuario con una
                  duración de 32hs catedra. Practico – Teórico. Cursado 100%
                  Online
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >APROBADO – Diciembre/2018</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="card mb-3" style="max-width: 65%" id="border-card">
          <div class="row g-0">
            <div class="col-md-4" id="img-card">
              <img
                src="../../../assets/cool-background.png"
                class="img-fluid rounded-start logo-empresa"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5>
                  LIQUIDACIÓN DE SUELDOS Y JORNALES - UBA – BUENOS AIRES,
                  ARGENTINA
                </h5>
                <p class="card-text">
                  Cursado presencial con una duración de 32HS Cátedras.
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >APROBADO – Diciembre/2011</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
